/* basics */
body {
    background-color: #fffbef;
    color: #3b2f2f;

    font-family: Georgia, serif;
    font-size: 19px;

    max-width: 700px;
    margin: 40px auto;
}

a {
    color: #cb4b16;
}

a:visited {
    color: #dc322f;
}

p {
    margin: 20px;
}

.caption {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 0;
}

/* the default code style in PrismJS has really large text */
code[class*="language-"], pre[class*="language-"] {
    font-size: 16px;
}

/* 2 column layout */
img {
    width: auto;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1 1 50%;
}

@media (max-width: 700px) {
    /* collapse to 1 column on small devices */
    .row {
        flex-direction: column;
        align-items: center;
    }
}

/* header navigation */
ol {
    padding: 0;
}

li {
    list-style: none;
}

header > nav {
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) 50; 
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    margin: 20px 0px 20px 0px;
}

header > * ol {
    display: flex;
    flex-wrap: wrap;
}

header > * li {
    display: inline;
    flex: 1 1 auto;
}

@media (max-width: 700px) {
    /* collapse to columnar nav layout on small devices */
    header > h1 {
        text-align: center;
    }

    header > * ol {
        flex-direction: column;
        align-items: center;
    }

    header > * li {
        padding: 5px;
    }
}